*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
html{
    font-size: 10px;
}
nav a{
    text-decoration: none;
}
nav .top_nav{
    background-color: #F8F8F8;
    max-width: 100vw;
    height: 40px;
    display: flex;
    padding: 8px 70px 8px 70px;
    justify-content: space-between;
    font-size: 1.3rem;
    color: #666666;
}
nav .top_nav .left{
    max-width: 377px;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 4px 4px 5px 4px;
}
nav .top_nav .right{
    max-width: 306px;
    height: 24px;
    padding: 3px 27px 2px 0;
    display: flex;
    align-items: center;
}
nav .top_nav .line{
    width: 1px;
    height: 10px;
    background-color: #D6D6D6;
    margin: 7px 10px;

}

nav .top_nav .email{
    display: flex;
    align-items: center;
    gap: 8px;
}

nav .top_nav .call {
    display: flex;
    align-items: center;
    gap: 8px;
}
nav .buttom_nav{
    display: flex;
    padding: 32px 70px;
    justify-content: space-between;
    height: 116px;
    align-items: center;
}
nav .buttom_nav .right{
    display: flex;
    gap: 32px;
    height: 42px;
    max-width: 312px;
}
nav .buttom_nav .shopping_cart{
    display: flex;
    align-items: center;
}
nav .buttom_nav .shopping_cart .text1{
    width: 94px;
    margin-right: 8px;
}
nav .buttom_nav .shopping_cart p{
    margin-bottom: 8px;
}
nav .buttom_nav .profile{
    display: flex;
    align-items: center;
}
nav .buttom_nav .profile .text2{
    width: 70px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


nav .buttom_nav p{
    font-size: 1.4rem;
    color: #A5A5A5;
    height: 17px;
}

nav .profile .login{
    display: flex;
    align-items:center ;
}

nav .buttom_nav .cart , nav .buttom_nav .user{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F8F8F8;
    justify-content: center;
    align-items: center;
}
nav .buttom_nav a{
    font-size: 1.6rem;
}
nav .buttom_nav .shopping_cart input{
    border: none;
}
nav .buttom_nav .shopping_cart input::placeholder{
    
    color: #333333;
    font-size: 1.6rem;
    font-weight: 400;

    width: 65px;
    padding-left: 29px;
    border: none;
}
nav .buttom_nav svg{
    color: #62D0B6;
    font-size: 30px;
    display: none;
}
.hero{
    background-image: url('./../images/hero_bg.png');
    max-width: 100vw;
    height: calc(100vh - 156px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 133px;
    justify-content: space-between;
}

.hero .best_sales{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 814px;
    height: 224px;
}
.hero .best_sales h1{
    max-width: max-content;
    font-size: 4.8rem;
    color: #FFFFFF;
    line-height: 70px;
}

.hero .best_sales p{
    color: #F8F8F8;
    font-size: 1.6rem;
    text-align: center;
}

.hero .best_sales span{
    width: max-content;
}
.hero button ,.sales button{
    width: 20rem;
    height: 5.6rem;
    border-radius: 4px;
    background-color: #62D0B6;
    color: #FFFFFF;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}
.secure_payments{
    padding: 44px 70px;
    display: flex;
    justify-content: space-between;
}
.secure_payments .card{
    display: flex;
    align-items: center;
    padding: 32px;
    gap:16px;
}
.secure_payments .card h2{
    font-size: 2rem;
    font-weight: 5rem;
    line-height: 30px;
    margin-bottom: 4px;
}
.secure_payments .card p{
    font-size: 1.6rem;
    max-width: 290px;
}
.pure_sound{
    display: flex;
    padding: 57px 70px;
    justify-content: space-between;
    gap: 30px;
}
.pure_sound .first_card .image1 img{
    max-width: 100%;
    position: relative;
}
.pure_sound .first_card{
    position: relative;
    
}
.pure_sound .first_card .info{
    position: absolute;
    top: 22.2%;
    left: 24px;
}
.pure_sound .second_card .image2 img{
    max-width: 100%;
    position: relative;
}
.pure_sound .second_card{
    position: relative;
}
.pure_sound .second_card .info{
    position: absolute;
    top: 22.2%;
    left: 24px;
}
.pure_sound .second_card p , .pure_sound .first_card p{
    font-size: 1.6rem;
    color: #333333;
}
.pure_sound .second_card h2 , .pure_sound .first_card h2{
    font-size: 2.7rem;
    line-height: 4.9rem;
    margin-bottom: 1.6rem;
    color: #333333;
}
.pure_sound .second_card button, .pure_sound .first_card button{
    border: none;
    background: none;
    font-size: 1.6rem;
    color: #333333;
    padding: 11px 16px;
    cursor: pointer;
    
}
.products ,.categories , .offers{
    padding: 56px 70px;
    max-width: 100vw;
}
.products .top,.categories .top ,.offers .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px;
    align-items: flex-end;
}
.products .top h1 ,.categories .top h1 , .offers .top h1 {
    font-size: 3rem;
    font-weight: 50rem;
    line-height: 3.5rem;
    color: #333333;
    max-width: max-content;
}
.products .top p ,.categories .top p , .offers .top p{
    font-size: 1.4rem;
    font-weight: 40rem;
    line-height: 2.5rem;
    color: #333333;
}
.products .top button ,.categories .top button , .offers .top button{
    width: 107px;
    height: 38px;
    border: 1px solid #62D0B6;
    color: #62D0B6;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 4px;
}

.products .buttom{
    display: grid;
    grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
    column-gap: 24px;
    row-gap: 43px;
}
.products .buttom .product{
    width: 100%;
}
.products .buttom .card{
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}
.products .buttom .card h3{
    color: #62D0B6;
    font-size: 1.4rem;
    font-weight: 40rem;
    padding: 16px 16px 0 16px
}
.products .buttom .card .p1{
    font-size: 1.6rem;
    color: #333333;
    padding-left: 16px;
} .products .buttom .card .p2{
    font-size: 1.4rem;
    color: #666666;
    padding-left: 16px;
}
.products .buttom .card .p3{
    color:#F55157;
    font-size: 1.8rem;
    padding-left: 16px;
}
.products .buttom .card .p3 del{
    color: #A5A5A5;
    font-size: 1.4rem;
}
.products .buttom .card .cart{
    padding: 16px;
    display: flex;
    gap: 8px;
}
.products .buttom .card .cart .first{
    display: flex;
    width: 50px;
    height: 56px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
.products .buttom .card .cart .second{
    display: flex;
    width: 198px;
    height: 56px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.products .buttom .card .cart .second a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #333333;
}
.products .buttom .mobile .p3{
    color: #333333;
}
.products .buttom .discounting{
    position: relative;
}
.products .buttom .sale{
    position: absolute;
    top: 3.6%;
    left: 3.6%;
}
.products .buttom .percent{
    font-size: 1.4rem;
    color: #FFFFFF;
    position: absolute;
    top: 5.2%;
    left: 7.7%;
}
.products .buttom .new{
    position: relative;
}
.products .buttom .new .sale2{
    position: absolute;
    top: 3.6%;
    left: 3.6%;
}
.products .buttom .new .new2{
    font-size: 1.4rem;
    color: #FFFFFF;
    position: absolute;
    top: 4.9%;
    left: 7.7%;
}
.products .buttom .card:hover{
    border: 1px solid #62D0B6;
}
.products .buttom .card .second:hover{
    color: #EEEEEE;
    background-color: #62D0B6;
}

.sales {
    background-image: url('./../images/bg.png');
    max-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 125px 20px 125px 70px;
}
.sales h1{
    font-size: 4.8rem;
    color: #FFFFFF;
    line-height: 7rem;
}
.sales p{
    max-width: 503px;
    font-size: 1.6rem;
    color: #FFFFFF;
    line-height: 2.5rem;
    margin-bottom: 32px;
}
.categories .top{
    padding-bottom: 32px;
}
.categories .buttom {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    
}
.categories .buttom div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories .buttom div h3{
    font-size: 2rem;
    line-height: 30px;
    padding-top: 16px;
    color: #333333;
    width: max-content;
}
.categories .buttom div p{
    font-size: 1.6rem;
    line-height: 25px;
    color: #666666;
}
.offers .buttom{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 32px;
    justify-content: center;
}
.offers .buttom .watch{
    display: flex;  
    
    max-width: 48.7%;
    border: 2px solid #62D0B6;
    border-radius: 4px;
}
.offers .buttom .watch .info{
    padding: 2.6%;
    max-width: 64.4%;
}
.offers .buttom .watch .p1{
    font-size: 14px;
    color: #62D0B6;
    line-height: 17px;
}
.offers .buttom .watch .p2{
    font-size: 18px;
    color: #333333;
    line-height: 25px;
}
.offers .buttom .watch .p3{
    font-size: 16px;
    color: #666666;
    line-height: 25px;
}
.offers .buttom .watch .info .reviews{
    display: flex;
    align-items: center;
    gap: 8px;
}
.offers .buttom .watch .info .reviews p{
    font-size: 14px;
    color: #A5A5A5;
}
.offers .buttom .watch .p4{
    font-size: 18px;
    color: #F55157;
    line-height: 25px;
    padding-top: 4px;
}
.offers .buttom .watch .time{
    padding-top: 16px;
    display: flex;
    gap: 8px;
    width: 100%;
}
.offers .buttom .watch .time div{
    width: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
}
.offers .buttom .watch .time .p5{
    padding-top: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
.offers .buttom .watch .time .p6{
    font-size: 14px;
    line-height: 17px;
    padding-left: 8px;
    padding-bottom: 4px;
}


.offers .buttom .cart{
    padding: 16px 0 16px 0;
    display: flex;
    gap: 8px;
}
.offers .buttom .cart .first{
    display: flex;
    width: 50px;
    height: 56px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
.offers .buttom  .cart .second{
    display: flex;
    width: 300px;
    height: 56px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #62D0B6;
}
.offers .buttom .cart .second a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #333333;
}
.cards{
    max-width: 100%;
    padding: 56px 70px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.cards .product{
    width: 31.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 32px 0;
}
.cards .product h3{
    font-weight: 600;
    font-size: 1.8rem;
    color: #333333;
    padding-top: 24px;
    width: max-content;
}
.cards .product p{
    width: 280px;
    font-size: 1.4rem;
    text-align: center;
    color: #666666;
    padding-top: 8px;
}
.cards .product a{
    padding-top: 16px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #333333;
}
.cards .first_card{
    background-color: #FDDCDD;
}
.cards .second_card{
    background-color: #FFEFDA
}
.cards .third_card{
    background-color: #E0F6F0;
}
.salla_store{
    background-image: url('./../images/banner2.png');
    max-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 24px;
    justify-content: space-between;
}
.salla_store h1{
    font-size: 4.8rem;
    color: #FFFFFF;
    line-height: 7rem;
}
.salla_store p{
    max-width: 503px;
    font-size: 1.6rem;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 32px;
}
.salla_store button {
    width: 20rem;
    height: 5.6rem;
    border-radius: 4px;
    background-color: #62D0B6;
    color: #FFFFFF;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    margin-bottom: 48px;
}
.customer_reviews{
    padding: 56px 70px;
}
.customer_reviews .top h1{
    font-size: 30px;
    font-weight: 500;
    color: #333333;
}
.customer_reviews .top p{
    font-size: 14px;
    color: #666666;
    padding-bottom: 32px;
}
.customer_reviews .buttom{
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 20px;
    overflow: auto;
}
.customer_reviews .buttom .card{
    width: 380px;
    min-width:380px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 24px;
}
.customer_reviews .buttom .card .stars{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}
.customer_reviews .buttom .card .review p{
    font-size: 16px;
    color: #666666;
    padding-bottom: 16px;
}
.customer_reviews .buttom .card .review h4{
    font-size: 18px;
}
.brands{
    padding: 24px 70px 32px 70px;
}
.brands .top h1{
    font-size:30px ;
    font-weight: 500;
    line-height: 35px;
    color: #333333;
}
.brands .top p{
    font-size: 14px;
    color: #666666;
    padding-bottom: 32px;
}
.brands .buttom {
    display: flex;
    justify-content: space-between;
    gap: 23px;

}
.brands .buttom img{
    padding: 24px 35px;
    border: 1px solid #EEEEEE;
    width: 18.4%;
}
.subscribe{
    padding: 24px 70px;
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    align-items: center;
}
.subscribe .left {
    display: flex;
    gap: 7px;
    align-items: center;
}
.subscribe .left .image{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #D6F8F080;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe .left h3{
    font-size: 20px;
    color: #333333;
    font-weight: 400;
}

.subscribe .left p{
    font-size: 1.4rem;
    color: #666666;
    padding-top: 4px;
}

.subscribe .right input{
    width:  352px;
    height: 39px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}

.subscribe .right input::placeholder{
    color: #A5A5A5;
    font-size: 1.4rem;
    padding: 10px 0 12px 16px;
    
}
.subscribe .right button{
    width: 90px;
    height: 39px;
    border-radius: 4px;
    background-color: #62D0B6;
    border: 1px solid #62D0B6;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 8px;
}
footer{
    display: flex;
    background-color: #1D1F1F;
    justify-content: space-between;
    padding: 16px 70px;
    align-items: center;
}
footer  p{
    color: #FFFFFF;
    font-size: 1.4rem;
}

footer .right {
    display: flex;
    align-items: center;
    gap: 58px;
}
footer .right .visa {
    display: flex;
    gap: 10px;

}
footer .right .visa div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 77px;
    height: 31px;
    background-color: #EEEEEE;
}
@media screen and  (max-width : 992px) {
    html{
        font-size: 5px;
    }
    nav .top_nav{
        padding: 8px 30px;
    }
    nav .top_nav .left, nav .right .shopping_cart,nav .right .profile .text2{
        display: none;
    }
    nav .top_nav .right{
        margin: 0 auto;
    }
    nav .buttom_nav  {
        padding: 0 30px;
        justify-content: space-between ;
    }
    nav .buttom_nav svg{
        margin-right: 20px;
        display: block;
    }
    .hero{
        padding: 0 30px;
    }
    .hero img{
        width: 5rem;
    }
    .secure_payments{
        flex-direction: column;
        padding: 0 30px;
        align-items: center;
    }
    .secure_payments img{
        width: 5rem;
    }
    .pure_sound{
        flex-direction: column;
        padding: 0 30px;
        align-items: center;
    }
    .products .buttom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products ,.categories , .offers{
        padding-left: 30px ;
        padding-right: 30px;
    }
    .offers .buttom ,.offers .buttom .watch{
        flex-direction: column;
    }
    .offers .buttom .watch{
        max-width: 100%;
        border: none;
        align-items: center;
        justify-content: center;
    }
    .offers .buttom .watch .info{
        padding-left: 0;
    }
    .cards{
        padding: 56px 30px;
        flex-direction: column;
        align-items: center;
    }
    .cards .product{
        width: 100%;
    }
    .customer_reviews .buttom{
        gap: 43px;
    }
    .brands .buttom{
        overflow: auto;
    }
    .brands .buttom img{
        width: 226px;
    }
    .subscribe{
        flex-direction: column;
        padding-left: 30px;
        padding-right: 0;
    }
    .subscribe .right{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .subscribe .right input{
        width: 270px;
    }
    .subscribe .right button{
        margin-top: 20px;
        margin-left: 0;
    }
    footer{
        flex-direction: column;
    }
    footer .right{
        flex-direction: column;
        padding-top: 20px;
        gap: 20px;
    }
    footer .right .visa div{
        width: 100%;;
    }
} 